<div class="grid header-small">
  <div class="col-1" style="width:18px;padding-right:20px">
    <a href="https://news.ycombinator.com">
      <img src="/assets/y18.gif" width="18" height="18" style="border:1px white solid;">
    </a>
  </div>
  <div class="col-10">
    <span class="pagetop">
      <b class="hnname">
        <a href="https://news.ycombinator.com/news" style="padding-right:20px">Hacker News</a>
      </b>
    <a href="https://news.ycombinator.com/newest">new</a>
      | <a href="https://news.ycombinator.com/front">past</a>
      | <a href="https://news.ycombinator.com/newcomments">comments</a>
      | <a href="https://news.ycombinator.com/ask">ask</a>
      | <a href="https://news.ycombinator.com/show">show</a>
      | <a href="https://news.ycombinator.com/jobs">jobs</a>
      | <a href="https://news.ycombinator.com/submit">submit</a>
    </span></div>

</div>
