.header-small {
  background-color: rgb(255, 102, 0);
  margin-left: 0px;
  margin-right: 0px;
}

a {
  text-decoration:none;
  color: black;
}

.col-1,
.col-10
{
  padding-bottom: 0px !important;
  padding-top: 3px !important;
}
