<div class="default light">
<div class="container">
<header class="SearchHeader container">
  <div class="SearchHeader_search">
    <span class="SearchHeader_logo">
      <a href="https://news.ycombinator.com">
        <img src="//d1sz9gun5ag95e.cloudfront.net/packs/media/images/logo-hn-search-a822432b.png">
      </a>
      <a href="/">
        <div class="SearchHeader_label">
          Search <br> Hacker News
        </div>
      </a>
    </span>

    <div class="SearchHeader_container">
      <span class="SearchIcon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
             stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
      </span>
      <input  type="search" placeholder="Search stories by title, url or author" class="SearchInput" value="">

    </div>
    <div class="SearchHeader_settings"></div>
  </div>
</header>


<section class="SearchResults">



<div class=" SearchFilters container " *ngFor="let post of posts">
  <article class="Story">
  <div class="Story_container">
    <div class="Story_data">

<div class="Story_title" *ngIf="post.url || post.title" >
  <a [routerLink]="['/item']" [queryParams]="{ id: post.objectID }">{{post.title}}</a>
  <a href="{{post.url}}" class="Story_link" target="_blank"> ({{post.url}}) </a>
</div>

    <div class="Story_meta">
    <span>
      <a [routerLink]="['/item']" [queryParams]="{ id: post.objectID }">{{post.points}} points</a>
    </span>
    <span class="Story_separator">|</span>
    <span>
      <a>
        <span>
           <a [routerLink]="['/user/']" [queryParams]="{ id: post.author }"> {{post.author}}</a>
        </span>
      </a>
     </span>

      <span class="Story_separator">|</span>

    <span>
      <a [routerLink]="['/item']" [queryParams]="{ id: post.objectID }"> {{post.created_at | dateAgo}}</a>
    </span>

      <span class="Story_separator">|</span>
    <span>
       <a [routerLink]="['/item']" [queryParams]="{ id: post.objectID }">  {{post.num_comments}} comments</a>
    </span>
    </div>


    <div>

</div>
    </div>
  </div>
  </article>



  </div>



</section>

</div>
</div>
