<div class="default light">
<div class="container">
<header class="SearchHeader container">
  <div class="SearchHeader_search">
    <span class="SearchHeader_logo">
      <a href="/">
        <img src="//d1sz9gun5ag95e.cloudfront.net/packs/media/images/logo-hn-search-a822432b.png">
      </a>
      <a href="/">
        <div class="SearchHeader_label">
          Search <br> Hacker News
        </div>
      </a>
    </span>

    <div class="SearchHeader_container">
      <span class="SearchIcon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
             stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
      </span>
      <input  type="search" placeholder="Search stories by title, url or author" class="SearchInput" [ngModel]="title" (input)="onInput($event)" >

    </div>
    <div class="SearchHeader_settings"></div>
  </div>
</header>

  <div class="header-search">
    <span>Search</span>
      <p-dropdown class="p-dropdown" [options]="search" [(ngModel)]="selected1" (ngModelChange)="onModelChange()" optionLabel="name"
                  [showClear]="true"></p-dropdown>

    <span>by</span>
    <p-dropdown class="p-dropdown" [options]="by" [(ngModel)]="selected2" (ngModelChange)="onModelChange()"  optionLabel="name"
                [showClear]="true"></p-dropdown>

    <span class="result">{{home.nbHits}} results ({{home.processingTimeMS/1000}}  seconds)</span>

  </div>



<section class="SearchResults">



<div class=" SearchFilters container " *ngFor="let post of posts">
  <div *ngIf="!title, else titlepost">
  <article class="Story">
  <div class="Story_container">
    <div class="Story_data">

<div class="Story_title" *ngIf="post.url || post.title || post.story_title " >
  <a [routerLink]="['/item']" [queryParams]="{ id: post.objectID }">{{post.title || post.story_title }}</a>
  <a href="{{post.url}}" class="Story_link" target="_blank"> ({{post.url || post.story_url}}) </a>
</div>

    <div class="Story_meta">
    <span>
      <a [routerLink]="['/item']" [queryParams]="{ id: post.objectID }">{{post.points}} points</a>
    </span>
    <span class="Story_separator">|</span>
    <span>
      <a>
        <span>
           <a [routerLink]="['/user/']" [queryParams]="{ id: post.author }"> {{post.author}}</a>
        </span>
      </a>
     </span>

      <span class="Story_separator">|</span>

    <span>
      <a [routerLink]="['/item']" [queryParams]="{ id: post.objectID }"> {{post.created_at | dateAgo}}</a>
    </span>

      <span class="Story_separator">|</span>
    <span>
       <a [routerLink]="['/item']" [queryParams]="{ id: post.objectID }">  {{post.num_comments}} comments</a>
    </span>
    </div>


    <div>

</div>
    </div>
  </div>
  </article>
  </div>


    <ng-template #titlepost>
    <article class="Story">
      <div class="Story_container">
        <div class="Story_data">

          <div class="Story_title" *ngIf="post.story_url || post.story_title, else highlightResult" >
            <a [routerLink]="['/item']" [queryParams]="{ id: post.objectID }" >{{post.story_title}}</a>
            <a href="{{post.url}}" class="Story_link" target="_blank"> ({{post.story_url}}) </a>
          </div>
          <ng-template class="Story_title" #highlightResult>
            <a [routerLink]="['/item']" [queryParams]="{ id: post.objectID }" [innerHTML]="post._highlightResult.title.value"></a>
            <span> (</span>
            <a href="{{post.url}}" class="Story_link" target="_blank" [innerHTML]="post._highlightResult.url.value"></a>
            <span>)</span>
          </ng-template>

          <div class="Story_meta">
    <span>
      <a [routerLink]="['/item']" [queryParams]="{ id: post.objectID }">{{post.points}} points</a>
    </span>
            <span class="Story_separator">|</span>
            <span>
      <a>
        <span>
           <a [routerLink]="['/user/']" [queryParams]="{ id: post.author }"> {{post.author}}</a>
        </span>
      </a>
     </span>

            <span class="Story_separator">|</span>

            <span>
      <a [routerLink]="['/item']" [queryParams]="{ id: post.objectID }"> {{post.created_at | dateAgo}}</a>
    </span>

            <span class="Story_separator">|</span>
            <span>
       <a [routerLink]="['/item']" [queryParams]="{ id: post.objectID }">  {{post.num_comments}} comments</a>
    </span>
          </div>


          <div>

          </div>
        </div>
      </div>
    </article>

  </ng-template>

</div>


  <p-paginator [rows]="home.hitsPerPage"
               [totalRecords]="home.nbHits"
               [pageLinkSize]="6"
               (onPageChange)="paginate($event)"
  ></p-paginator>
</section>

</div>

</div>


