<app-header-small></app-header-small>
<table id="hnmain">
  <tbody bgcolor="#f6f6ef">
  <tr >
    <td width="50px" >user:</td>
    <td  >{{user.username}}</td>
  </tr>
  <tr >
    <td >created:</td>
    <td  >{{user.created_at | date: 'MMMM d, y'}}</td>
  </tr>
  <tr >
    <td >karma:</td>
    <td >{{user.karma}}</td>
  </tr>
  <tr>
    <td>about:</td>
    <td >{{user.about}}</td>
  </tr>
  </tbody>
</table>

 <!-- <div class="grid">
  <div class="col-1">user:</div>
  <div class="col-3">{{user.username}}</div>
</div>
<div class="grid">
  <div class="col-1">created:</div>
  <div class="col-3">{{user.created_at | date: 'MMMM d, y'}}</div>
</div>
<div class="grid">
  <div class="col-1">karma:</div>
  <div class="col-3">{{user.karma}}</div>
</div>
<div class="grid">
  <div class="col-1">about:</div>
  <div class="col-3">{{user.about}}</div>
</div>

-->
